<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - winter_intex_2_5</title>
  
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel ="stylesheet" href="~/css/normalize.css"/>
    <link rel="stylesheet" href="~/css/webflow.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" title="boot" />
    <link rel="stylesheet" href="~/css/intex.css" />

   
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
    <script src="~/js/ajax.js" type="text/javascript"></script>
    <script nonce="random" type="text/javascript">WebFont.load({ google: { families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic", "Federo:regular", "Lora:regular"] } });</script>
    
    <base href="~/" />
</head>
<body>
<<<<<<< HEAD
    <div class="page-wrapper">
        <nav class="navbar-logo-center wf-section">
            <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-logo-center-container shadow-three w-nav">
                <div class="container">
                    <div class="navbar-wrapper-three">
                        <a href="#" class="navbar-brand-three w-nav-brand"><img src="~/img/giza.png" loading="lazy" width="121" alt="" class="image"></a>
                        <nav role="navigation" class="nav-menu-wrapper-three w-nav-menu">
                            <div class="nav-menu-three">
                                <ul role="list" class="nav-menu-block w-list-unstyled">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Summary">Burial Summary</a>
                                    </li>
                                    <li>
                                        <div data-hover="false" data-delay="0" class="nav-dropdown w-dropdown">
                                            <div class="nav-dropdown-toggle w-dropdown-toggle">
                                                <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                                                <div>Data Analytics</div>
                                            </div>
                                            <nav class="nav-dropdown-list shadow-three mobile-shadow-hide w-dropdown-list">
                                                <a class="nav-dropdown-link w-dropdown-link" asp-area="" asp-controller="Home" asp-action="Model">Predictive Model</a>
                                                <a class="nav-dropdown-link w-dropdown-link" asp-area="" asp-controller="Home" asp-action="Model">Visualizations</a>
                                            </nav>
                                        </div>
                                    </li>
                                </ul>
                                <partial name="_LoginPartial" />
                            </div>
                        </nav>
                        <div class="menu-button w-nav-button">
                            <div class="w-icon-nav-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div>
            <partial name="_CookieConsentPartial" />
            <main role="main" >
                @RenderBody()
            </main>
=======
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BYUEgypt</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Summary">View Burials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Predictions">Predict Sex</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Analysis">Analysis</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BYUEgypt - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
>>>>>>> c2bf18ce757bc07045bf2c8f79c013a294111189
        </div>
        <section class="footer-dark wf-section">
            <div class="container-2">
                <div class="footer-wrapper">
                    <a href="#" class="footer-brand w-inline-block"><img src="~/img/giza.png" loading="lazy" alt=""></a>
                    <div class="footer-content">
                        <div id="w-node-_4d026814-4e0a-e576-cb98-7b971368da6a-1368da64" class="footer-block">
                            <div class="title-small">Fag el-Gamous</div>
                            <a href="https://egypt.byu.edu/p/" target="_blank" class="footer-link">Learn More</a>
                        </div>
                        <div id="w-node-_4d026814-4e0a-e576-cb98-7b971368da73-1368da64" class="footer-block">
                            <div class="title-small">Meet The Team</div>
                            <a href="https://egypt.byu.edu/p/Team" target="_blank" class="footer-link">Staff &amp; Faculty</a>
                        </div>
                        <div id="w-node-_4d026814-4e0a-e576-cb98-7b971368da7e-1368da64" class="footer-block">
                            <div class="title-small">About</div>
                            <a class="footer-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy policy</a>
                            <div class="footer-social-block">
                                <a href="https://twitter.com/BYU" target="_blank" class="footer-social-link w-inline-block"><img src="~/img/twitter.svg" loading="lazy" alt=""></a>
                                <a href="https://www.linkedin.com/school/brigham-young-university/" target="_blank" class="footer-social-link w-inline-block"><img src="~/img/linkedin.svg" loading="lazy" alt=""></a>
                                <a href="https://www.facebook.com/BYU/" target="_blank" class="footer-social-link w-inline-block"><img src="~/img/facebook.svg" loading="lazy" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-divider"></div>
            <div class="footer-copyright-center">Copyright © 2023 WinterWinners</div>
        </section>
        <div class="page-grid">
            <div class="page-grid-left"></div>
            <div class="page-grid-right"></div>
        </div>
    </div>
    <script src="~/js/webflow.js" type="text/javascript"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
