@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav-menu-block w-list-unstyled">
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a  class="nav-link-accent" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="mobile-margin-top-10">
        <form  class="button-primary w-button" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
   </li>
}
else
{
    <li>
        <a class="nav-link-accent" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    <li class="mobile-margin-top-10">
        <a class="button-primary w-button" asp-area="Identity" asp-page="/Account/Register">Create Account</a>
    </li>
}
</ul>


