<h1>This is for sex predictions</h1>


<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice1">Burial Number:</label>
            <input type="number" class="form-control" id="practice1" name="practice1">
        </div>
        <div class="form-group">
            <label for="practice2">Depth:</label>
            <input type="number" class="form-control" id="practice2" name="practice2">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice3">Length:</label>
            <input type="number" class="form-control" id="practice3" name="practice3">
        </div>
        <div class="form-group">
            <label for="practice4">South to Feet:</label>
            <input type="number" class="form-control" id="practice4" name="practice4">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice5">South to Head:</label>
            <input type="number" class="form-control" id="practice5" name="practice5">
        </div>
        <div class="form-group">
            <label for="practice6">Square East West:</label>
            <input type="number" class="form-control" id="practice6" name="practice6">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice7">Square North South:</label>
            <input type="number" class="form-control" id="practice7" name="practice7">
        </div>
        <div class="form-group">
            <label for="practice8">West to Feet:</label>
            <input type="number" class="form-control" id="practice8" name="practice8">
        </div>
        <div class="form-group">
            <label for="practice9">West to Head:</label>
            <input type="number" class="form-control" id="practice9" name="practice9">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice10">Adult sub Adult</label>
            <select class="form-control" id="practice10" name="practice10">
                <option value=""></option>
                <option value="A">Adult</option>
                <option value="C">Child</option>
            </select>
        </div>
        <div class="form-group">
            <label for="practice13">Area</label>
            <select class="form-control" id="practice13" name="practice13">
                <option value=""></option>
                <option value="SE">SE</option>
                <option value="SW">SW</option>
                <option value="NE">NE</option>
                <option value="NW">NW</option>
            </select>
        </div>
        <div class="form-group">
            <label for="practice23">East/West</label>
            <select class="form-control" id="practice23" name="practice23">
                <option value=""></option>
                <option value="E">East</option>
                <option value="W">West</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice10">Preservation</label>
            <select class="form-control" id="practice10" name="practice10">
                <option value=""></option>
                <option value="poor">poor</option>
                <option value="wrapped">wrapped</option>
                <option value="C">Child</option>
            </select>
        </div>
        <div class="form-group">
            <label for="practice13">Wrapping</label>
            <select class="form-control" id="practice13" name="practice13">
                <option value=""></option>
                <option value="B">bones</option>
                <option value="H">half wrapped</option>
                <option value="W">whole wrapped</option>
            </select>
        </div>
    </div>
</div>

@*adultsubadult, area, eastwest, preservation, wrapping*@

