<h1>This is for wrapping predictions</h1>

<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice1">Burial Number:</label>
            <input type="number" class="form-control" id="practice1" name="practice1">
        </div>
        <div class="form-group">
            <label for="practice2">Depth:</label>
            <input type="number" class="form-control" id="practice2" name="practice2">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice3">Femur Head Diameter:</label>
            <input type="number" class="form-control" id="practice3" name="practice3">
        </div>
        <div class="form-group">
            <label for="practice4">Femur Length:</label>
            <input type="number" class="form-control" id="practice4" name="practice4">
        </div>
        <div class="form-group">
            <label for="practice7">Length:</label>
            <input type="number" class="form-control" id="practice7" name="practice7">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice5">South to Feet:</label>
            <input type="number" class="form-control" id="practice5" name="practice5">
        </div>
        <div class="form-group">
            <label for="practice6">South to Head:</label>
            <input type="number" class="form-control" id="practice6" name="practice6">
        </div>
        <div class="form-group">
            <label for="practice7">Square East West:</label>
            <input type="number" class="form-control" id="practice7" name="practice7">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice7">Square North South:</label>
            <input type="number" class="form-control" id="practice7" name="practice7">
        </div>
        <div class="form-group">
            <label for="practice8">West to Feet:</label>
            <input type="number" class="form-control" id="practice8" name="practice8">
        </div>
        <div class="form-group">
            <label for="practice9">West to Head:</label>
            <input type="number" class="form-control" id="practice9" name="practice9">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice10">Adult sub Adult</label>
            <select class="form-control" id="practice10" name="practice10">
                <option value=""></option>
                <option value="A">Adult</option>
                <option value="C">Child</option>
            </select>
        </div>
        <div class="form-group">
            <label for="practice11">Head Direction</label>
            <select class="form-control" id="practice11" name="practice11">
                <option value=""></option>
                <option value="E">East</option>
                <option value="W">West</option>
            </select>
        </div>
        <div class="form-group">
            <label for="practice12">In Cluster?</label>
            <select class="form-control" id="practice12" name="practice12">
                <option value=""></option>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice13">Area</label>
            <select class="form-control" id="practice13" name="practice13">
                <option value=""></option>
                <option value="SE">SE</option>
                <option value="SW">SW</option>
                <option value="NE">NE</option>
                <option value="NW">NW</option>
            </select>
        </div>
        <div class="form-group">
            <label for="practice14">Tooth Eruption?</label>
            <select class="form-control" id="practice14" name="practice14">
                <option value=""></option>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="practice15">Supraorbital Ridges</label>
            <select class="form-control" id="practice15" name="practice15">
                <option value=""></option>
                <option value="heavy">heavy</option>
                <option value="light">light</option>
                <option value="medium">medium</option>
                <option value="unknown">unknown</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice16">Orbit Edge</label>
            <select class="form-control" id="practice16" name="practice16">
                <option value=""></option>
                <option value="sharp">sharp</option>
                <option value="blunt">blunt</option>
                <option value="medium">medium</option>
                <option value="unknown">unknown</option>
            </select>
        </div>
        <div class="form-group">
            <label for="practice17">Gonion</label>
            <select class="form-control" id="practice17" name="practice17">
                <option value=""></option>
                <option value="flat">flat</option>
                <option value="pointed">pointed</option>
                <option value="medium">medium</option>
            </select>
        </div>
        <div class="form-group">
            <label for="practice18">Zygomatic Crest:</label>
            <select class="form-control" id="practice18" name="practice18">
                <option value=""></option>
                <option value="shorter">shorter</option>
                <option value="medium">medium</option>
                <option value="longer">longer</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice19">Tooth Attrition:</label>
            <select class="form-control" id="practice19" name="practice19">
                <option value=""></option>
                <option value="noTeeth">No Teeth</option>
                <option value="1">I</option>
                <option value="2">II</option>
                <option value="3">III</option>
                <option value="4">IV</option>
                <option value="5">V</option>
            </select>
        </div>
        <div class="form-group">
            <label for="practice20">Tooth Eruption Age Estimate:</label>
            <select class="form-control" id="practice20" name="practice20">
                <option value=""></option>
                <option value="none">none</option>
                <option value="0_4">0-4 years</option>
                <option value="4_8">4-8 years</option>
                <option value="8_16">8-16 years</option>
                <option value="17_25">17-25 years</option>
                <option value="25_35">25-35 years</option>
                <option value="35_">35+ years</option>
                <option value="other">other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="practice21">Sciatic Notch</label>
            <select class="form-control" id="practice21" name="practice21">
                <option value=""></option>
                <option value="narrow">narrow</option>
                <option value="medium">medium</option>
                <option value="wide">wide</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="practice22">Hair Color:</label>
            <select class="form-control" id="practice22" name="practice22">
                <option value=""></option>
                <option value="none">none</option>
                <option value="blond">blond</option>
                <option value="red">red</option>
                <option value="brown">brown</option>
                <option value="black">black</option>
            </select>
        </div>
        <div class="form-group">
            <label for="practice23">East/West</label>
            <select class="form-control" id="practice23" name="practice23">
                <option value=""></option>
                <option value="E">East</option>
                <option value="W">West</option>
            </select>
        </div>
    </div>
</div>

@*adultsubadult, area, cluster_bool, eastwest, gonion, haircolorgroup, headdirection, orbitedge, sciaticnotch, supraorbitalridges, toothattrition, tootheruption, tootheruptionageestimate, zygomatic*@
