@model Burialmain

<div class="container">
    <main class="main-wrapper">
        <div class="row">
            <form method="post" asp-action="Delete" asp-controller="Records">
                <div class="col d-flex justify-content-center flex-column">
                    <h3>Are you sure you would like to delete this Burial record?</h3>
                    <input type="hidden" name="burialId" value="@Model.Id"/>
                    <button type="submit">Delete Record</button>
                </div>
            </form>
        </div>
    </main>
</div>
