@{
    ViewData["Title"] = "Unsupervised Analysis";
}

<main class="main-wrapper">
    <section class="hero-without-image wf-section">
        <div class="container-3">
            <div class="hero-wrapper-two">
                <h2 class="heading-4">Burial Practices Over Time</h2>
                <p class="margin-bottom-24px">A principle focus of our team at Fag el-Gamous has been the analysis of burial practices and techniques over time. Using data collected by on-site BYU researchers, we have been able to provide quantitative evidence demonstrating for the working hypothesis that practices changed. More importantly, we have been able to provide insights into which specific practices were constant, and which evolved.<br><br>The following visualizations provide evidence for changes in textile composition and function. Time is represented by burial depth, as more recent burials are found closer to the surface.</p>
            </div>
        </div>
    </section>
    <section class="team-slider wf-section">
        <div class="container-3">
            <h1 class="heading-3">Overview of Burial Practices</h1>
            <p class="centered-subheading">A quick look at Egyptian burial practices throughout time.</p>
            <div data-delay="4000" data-animation="slide" class="team-slider-wrapper w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="12" data-duration="500" data-infinite="true">
                <div class="w-slider-mask">
                    <div class="team-slide-wrapper w-slide">
                        <div class="team-block">
                            <img src="~/img/dig.jpg" loading="lazy" sizes="100vw" alt="" class="team-member-image-two">
                            <div class="team-block-info">
                                <h3 class="team-member-name-two">The Dig Site</h3>
                                <p class="team-member-text">Fag el-Gamous is situated roughly 80 miles southwest of Cairo, Egypt. The mummies have been excavated from depths up to 3.93 meters and have been preserved in our public database, found at byuegypt.net. </p>
                                <a href="https://egypt.byu.edu/p/" target="_blank" class="text-link-arrow w-inline-block">
                                    <div>Dig Deeper</div>
                                    <div class="arrow-embed w-embed">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.72 15L16.3472 10.357C16.7732 9.92932 16.7732 9.23603 16.3472 8.80962L11.72 4.16667L10.1776 5.71508L12.9425 8.4889H4.16669V10.6774H12.9425L10.1776 13.4522L11.72 15Z" fill="currentColor"></path>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="team-slide-wrapper w-slide">
                        <div class="team-block">
                            <img src="~/img/mummy.jpg" loading="lazy" sizes="100vw" alt="" class="team-member-image-two">
                            <div class="team-block-info">
                                <h3 class="team-member-name-two">Mummies</h3>
                                <p class="team-member-text">In addition to one gold mummy that has been retrieved from the site, BYU researchers have uncovered dozens of ancient burials and recorded data about their finds. The embalming and preserving of the dead began as early as 5,600 years ago, and was of proufound importance for the ancient Egyptians. </p>
                                <a href="https://www.si.edu/spotlight/ancient-egypt/mummies" target="_blank" class="text-link-arrow w-inline-block">
                                    <div>Learn more about mummies</div>
                                    <div class="arrow-embed w-embed">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.72 15L16.3472 10.357C16.7732 9.92932 16.7732 9.23603 16.3472 8.80962L11.72 4.16667L10.1776 5.71508L12.9425 8.4889H4.16669V10.6774H12.9425L10.1776 13.4522L11.72 15Z" fill="currentColor"></path>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="team-slide-wrapper w-slide">
                        <div class="team-block">
                            <img src="~/img/linen.jpg" loading="lazy" sizes="100vw" alt="" class="team-member-image-two">
                            <div class="team-block-info">
                                <h3 class="team-member-name-two">Textiles</h3>
                                <p class="team-member-text">Most of the textile found on the mummies is either linen or wool. Our analysis is centered on the changes in textile function, color, and composition over time. These cloth fibers map the evolution of Egyptian burial practices across time.</p>
                                <a href="https://handwovenmagazine.com/linen-egypt-and-mummies/" target="_blank" class="text-link-arrow w-inline-block">
                                    <div>More on ancient textiles</div>
                                    <div class="arrow-embed w-embed">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.72 15L16.3472 10.357C16.7732 9.92932 16.7732 9.23603 16.3472 8.80962L11.72 4.16667L10.1776 5.71508L12.9425 8.4889H4.16669V10.6774H12.9425L10.1776 13.4522L11.72 15Z" fill="currentColor"></path>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-slider-arrow w-slider-arrow-left">
                    <div class="w-icon-slider-left"></div>
                </div>
                <div class="team-slider-arrow w-slider-arrow-right">
                    <div class="w-icon-slider-right"></div>
                </div>
                <div class="team-slider-nav w-slider-nav w-slider-nav-invert w-round"></div>
            </div>
        </div>
    </section>
    <section class="hero-heading-right wf-section">
        <div class="container-3">
            <div class="hero-wrapper">
                <div class="hero-split"><img src="~/img/Angle.png" loading="lazy" sizes="100vw" alt="" class="shadow-two"></div>
                <div class="hero-split">
                    <h1 class="heading-5">Yarn Angle</h1>
                    <p class="margin-bottom-24px">This graph shows the depth of the grave plotted against the ‘angle’ of the yarn (S = soft spun, M = medium spun, H = hard spun). Based on this data, as the depth of the grave increases, the likelihood of the yarn being soft-spun increases. Recall that depth will stand in for time for all these models. Inversely, as the depth of the grave decreases, we are more and more likely to find yarn that is hard-spun. This correlation is an indication that over time, burial practices have changed. This makes sense, given the greater technological difficulty of producing hard spun yarn. Yarn angle appears to correlate with growth of a more complex and technologically advanced civilization.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="hero-heading-left wf-section">
        <div class="container-3">
            <div class="hero-wrapper">
                <div class="hero-split">
                    <h1 class="heading-6">Textile Color</h1>
                    <p class="margin-bottom-24px">This graph demonstrates the various colors found in samples of textiles, used to wrap the excavated mummies. As we go back furthest in time, we find the greatest number of purple, red, and brown threads. Moving towards the present, we then discover samples of white and yellow, and most recently blue or un-dyed threads. Because data points are scarce in this area, we are reluctant to claim direct correlation. However, considering that blue is one of the hardest dyes to naturally manufacture, we can observe further evidence of their civilizational progress reflected in their burial practices
                </div>
                <div class="hero-split"><img src="~/img/Color.png" loading="lazy" sizes="100vw" alt="" class="shadow-two"></div>
            </div>
        </div>
    </section>
    <section class="hero-heading-right wf-section">
        <div class="container-3">
            <div class="hero-wrapper">
                <div class="hero-split"><img src="~/img/CountUpdate.png" loading="lazy" sizes="100vw" alt="" class="shadow-two"></div>
                <div class="hero-split">
                    <h1 class="heading-7">Yarn Thread Count</h1>
                    <p class="margin-bottom-24px">By running a K-mean cluster analysis on the differing thread counts found on recovered mummies, we are able to identify several clusters of data. The highest cluster represents the oldest samples, recovered from depths greater than 1.5 meters. These mummies have thread counts lower than 15. For those unearthed at depths between 0.8 and 1.3 meters, we find a sudden increase in thread count, reaching a high of 56 threads. The most recent samples then show a decrease in counts, between 3 and 25 threads. Here we see another example of changing burial practices over time. It appears that higher quality yarn was used for a time, but was discontinued, perhaps because it wasn&#x27;t cost-effective or seen as necessary. </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-home-about">
        <div class="padding-global">
            <div class="container-medium">
                <div class="padding-section-large">
                    <div class="home-info-component">
                        <div id="w-node-c267c687-f27b-efa0-2b3f-2304545a64df-8fdfa996" class="home-info-content-wrapper">
                            <div class="heading-wrapper">
                                <div class="subheading">K-Means Analysis Of</div>
                                <h2 class="heading-2">Textile Function</h2>
                            </div>
                            <p class="paragraph-2">One of the most important pieces of information collected about various textiles is their function. As shown by the graph, the majority of textiles are simply fragments. At depths greater than 1.65 meters, those are all we have been able to recover. For the majority of data points, we find little evidence of change in terms of textile functions. Most burial remains have ribbon, shrouds, and tunics in common. There is some evidence that shrouds were used less frequently in later years, but there aren&#x27;t enough data points to paint a compelling argument.</p>
                        </div>
                        <div id="w-node-c267c687-f27b-efa0-2b3f-2304545a64e7-8fdfa996" class="divider-vertical hide-mobile-landscape"></div>
                        <div id="w-node-c267c687-f27b-efa0-2b3f-2304545a64e8-8fdfa996" class="home-info-page-image-wrapper"><img src="~/img/TextFuncKMeans.png" loading="eager" sizes="(max-width: 479px) 78.15625px, (max-width: 767px) 44vw, (max-width: 991px) 54vw, 56vw" alt="" class="image-cover"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
