@{
    ViewData["Title"] = "Home Page";
}
@model IQueryable<TestTable>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    @foreach(var test in Model)
    {
        <h4>@test.TestName</h4>
    }
</div>
