@page
@model winter_intex_2_5.Pages.SexPredictionModel

@{
    ViewData["Title"] = "Predict Sex";
}


<div class="container">
    <main class="main-wrapper">
        <br />
        <h1>Predict Mummy Sex</h1>
        <div>
            <h3>About these predictions:</h3>
            <p>Mummy sex predictions are generated based on a model trained using a dataset of 230 Fag El-Gamous burials where sex was recorded. The model is built with a Histogram Gradient Boosting Classifier. We chose this particular algorithm for its effectiveness in handling missing data and its ability to scale for future use. The model has an accuracy of <b>97%</b>, although we acknowledge that all predictions may not be accurate due to limitations in the data.</p>
        </div>
        <br />
        <h3 class="text-center">Try it Out:</h3>
        <form method="post">
            <div class="row">
                <div class="col-3 form-group">
                    <label for="squareNorthSouth">Square North South:</label>
                    <input asp-for="SexData.SquareNorthSouth" class="form-control" id="squareNorthSouth">
                </div>
                <div class="col-3 form-group">
                    <label for="squareEastWest">Square East West:</label>
                    <input asp-for="SexData.SquareEastWest" class="form-control" id="squareEastWest">
                </div>
                <div class="col-3 form-group">
                    <label for="eastWest">East/West</label>
                    <br />
                    <select asp-for="SexData.EastWestDropdown" asp-items="Model.SexPredictionDefaults.EastWestItems" id="eastWest" class="form-control"></select>
                </div>
                <div class="col-3 form-group">
                    <label for="area">Area</label>
                    <br />
                    <select asp-for="SexData.AreaDropdown" asp-items="Model.SexPredictionDefaults.AreaItems" id="area" class="form-control"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-3 form-group">
                    <label for="burialNumber">Burial Number:</label>
                    <input asp-for="SexData.BurialNumber" class="form-control" id="burialNumber" />
                </div>
                <div class="col-3 form-group">
                    <label for="depth">Depth:</label>
                    <input asp-for="SexData.Depth" class="form-control" id="depth">
                </div>
                <div class="col-3 form-group">
                    <label for="length">Length:</label>
                    <input asp-for="SexData.Length" class="form-control" id="length">
                </div>
                <div class="col-3 form-group">
                    <label for="wrapping">Wrapping</label>
                    <select asp-for="SexData.WrappingDropdown" asp-items="Model.SexPredictionDefaults.WrappingItems" class="form-control"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-3 form-group">
                    <label for="southToFeet">South to Feet:</label>
                    <input asp-for="SexData.SouthToFeet" class="form-control" id="southToFeet">
                </div>
                <div class="col-3 form-group">
                    <label for="southToHead">South to Head:</label>
                    <input asp-for="SexData.SouthToHead" class="form-control" id="southToHead">
                </div>
                <div class="col-3 form-group">
                    <label for="westToFeet">West to Feet:</label>
                    <input asp-for="SexData.WestToFeet" class="form-control" id="westToFeet">
                </div>
                <div class="col-3 form-group">
                    <label for="westToHead">West to Head:</label>
                    <input asp-for="SexData.WestToHead" class="form-control" id="westToHead">
                </div>
            </div>
            <div class="row">
                <div class="col-3 form-group form-select">
                    <label for="adultSubAdult">Adult sub Adult</label>
                    <select asp-for="SexData.SubAdultDropdown" asp-items="Model.SexPredictionDefaults.SubAdultItems" class="form-control"></select>
                </div>
                <div class="col-3 form-group form-select">
                    <label for="preservation">Preservation</label>
                    <select asp-for="SexData.PreservationDropdown" asp-items="Model.SexPredictionDefaults.PreservationItems" class="form-control"></select>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Predict Sex</button>
                </div>
            </div>

        </form>
        <br />
        <div>
            @if (Model.SexPrediction != null)
            {
                <div class="alert alert-success">
                    <h1>Sex Prediction:</h1>
                    @if (Model.SexPrediction.Sex == 1)
                    {
                        <h4>Male</h4>
                    }
                    else
                    {
                        <h4>Female</h4>
                    }
                </div>
            }
        </div>
        <br /><br /><br /><br />

    </main>
</div>





